* {
  /*font-family: 'Roboto Condensed', sans-serif;
	font-weight: lighter;*/
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

#header {
  position: relative;
  width: 100%;
  height:300px;
  /*background-image: url("https://cdn.pixabay.com/photo/2017/07/01/19/48/background-2462431_960_720.jpg");*/
background-image:url('images/team1.jpeg');

}
#header img {
  display: block;

  margin-left: auto;
  margin-right: auto;
}
#header > p {
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  top: 120px;
  text-transform: uppercase;
  color: #fff;
  font-size: 3em;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.05em;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, black, #00acb0);
  opacity: 0.5;
  z-index: 1;
}

.c-text {
  width: 70%;
  margin: 0 auto;
  padding-top: 50px;
  line-height: 2;
  font-family: "Montserrat", sans-serif;
  color: ;
  font-size: 20px;
  text-align: center;
}

.co {
  margin-top: 50px;
  margin-bottom: 90px;
  position: relative;
  text-transform: uppercase;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 25px;
  color: #00acb0;
}

.co:after {
  position: absolute;
  margin: 0 auto;
  top: 15px;
  left: 49%;
  font-family: "FontAwesome";
  content: "\f107";
  display: block;
  font-size: 50px;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin-top: 40px;
  /*margin-bottom:40px;*/
}

#openings {
  width: 100%;
  height: 600px;
  background-image: linear-gradient(to bottom right, #f2f2f2, #ff9900);
}
#openings h2 {
  font-family: "Lato", sans-serif;
  color: #4d4d4d;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 35px;
}
#o-cont {
  width: 50%;
  margin: 0 auto;
}
.role {
  display: block;
  width: 100%;
  color: #ff9900;
  background-color: #fff;
  padding: 8px 0px 2px 20px;
  height: 40px;
  margin-bottom: 10px;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 1.5em;
}
.apply {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.apply .buton {
  width: 180px;
  height: 75px;
  padding-top: 7px;
  background-color: #ff9900;
  text-align: center;
  border-width: 0px;
  box-shadow: 1px 1px 2px #000;
}
.apply .buton > p {
  /*font-family:'Roboto', sans-serif;*/

  color: #fff;
  font-family: "Lato", sans-serif;
}
.apply .tagm {
  font-size: 1.3em;
  font-weight: bold;
}

.apply .tagl {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.8em;
}
.o-item {
  cursor: pointer;
}
#o-cont .desc {
  display: none;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 15px;
  color: #4d4d4d;
  font-family: "Montserrat", sans-serif;
}
/*body
{
	background-color:#dee5ea;
}
a
{
	text-decoration:none;
}


.intro
{
	height:550px;
	width:auto;
	text-align:center;
	
	
	padding-top:80px;
	background-color:#00ACB0;
	color:#fff;
	
	

}
#c-name
{
	font-family:'Open Sans',sans-serif;
	font-size:1.5em;
	color:#000;
	position:fixed;
	display:block;
	text-align:center;
	left:47%;
}
#c-name:after {
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 110px; 
    padding-top:10px;
    border-bottom: 4px solid #cb0303; 
}
#join
{
	padding-top:70px;
	font-size:300px;
	text-transform: uppercase;
	font-family:'Pathway Gothic One',sans-serif;
	transform: translate3d(0px, 200px, 0px);
	opacity:0;
	transition: all 700ms ease-out;

}
#join.in-view
{
	transform: translate3d(0px, 0px, 0px);
	opacity:1;
}
.sidetext
{
	font-family:'Pathway Gothic One',sans-serif;
	position:fixed;
	top:300px;
	color:#cb0303;
	font-size:18px;
}

#left

{
	transform:rotate(-90deg);
	left:0;
	float:left;
}
#right
{
	transform:rotate(90deg);
	right:0;
	float:right;
}
.main-content
{
	width:80%;
	margin:0 auto;
	position:relative;
	z-index:2;
	top:-40px;
	height:600px;
	text-align:center;
	
	background:url('http://1.bp.blogspot.com/-rNdwSrMubW4/UwIrp0OqTsI/AAAAAAAAVFY/1DwzYActYJM/s1600/emerging-social-media.jpg');
	background-size:100%;
	background-repeat:no-repeat;
}

.jumbotron
{

}

.head>p
{
	padding:100px 0;
	text-transform: uppercase;
	
	color:#fff;
	position:relative;
	z-index:5;
}
.head>p:after
{
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 90px; 
    padding-top:10px;
    border-bottom: 1px solid #fff; 
}

.brief>p
{
	
	font-family: 'Montserrat', sans-serif;
	font-size:30px;
	width:80%;
	margin:80px auto;
	line-height:1.5em;
	letter-spacing: .016em;
	position:relative;
	z-index:5;
	
	color:#fff;
	text-shadow:2px 2px 0px #000;;
}

.overlay
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background-color:rgba(203, 3, 3, 0.3);
	z-index:3;
	height:600px;
}

hr
{
	width:70%;
	border-color:#dee5ea;
}

.submit
{
	background-color:#ff9900;
	width:250px;
	text-align:center;
	
	font-family: 'Barlow Condensed', sans-serif;
	margin:0 auto;
	font-size:2em;
	color:#fff;
	padding:20px 0;
}*/
